@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=New+Tegomin&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Start Header
body {
    position: relative;
}

.headers {
    background-color: #022E5D;

    &__navbar {
        img {
            width: 30%;
        }

        text-align: center;
    }

    &__video {
        height: 100vh;
        display: flex;
        //align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: bottom center;

    }

    &__videoitem {
        object-fit: initial;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
    }

    &__desc {
        padding: 4em 0;
        background-image: radial-gradient(circle, #C76063, #A12443);

        position: relative;
        color: #fff;


        .desc-content {
            width: 800px;
            max-width: 100%;
            margin: 0 auto;
            text-align: center;

            h3 {

                font-size: 3em;
                font-family: 'Lobster',
                    cursive;
                padding-bottom: 1em;
            }
        }
    }

    &__boxIntro {
        padding-top: 1em;

        ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1em;
        }

        li {
            display: inline;
            padding: 1em;
            transition: all linear 0.2s;
            background-color: #022E5D;


            h4 {
                font-size: 2.5em;

                span {
                    font-size: 0.5em;
                }
            }

            &:hover {
                transform: scale(1.1);
                transition: all linear 0.3s;
            }

        }
    }
}

// End Header
// Start Main
.main {
    background-image: url('../images/KV-NOVAWORLD-PHAN-THIET-Florida.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    &__content {
        padding-top: 8em;

        div {
            padding: 1em;
            width: 25em;
            max-width: 100%;
            border-radius: 0.5em;

            background-color: rgba(255, 255, 255, 0.5);

            h2 {
                font-family: 'New Tegomin',
                    serif;
                font-size: 2em;
                padding-bottom: 1em;
            }

            p {
                font-size: 1.2em;
            }
        }
    }
}

// End Main
// Maps
.mapss {
    background-image: url('../images/MB-TIEN-ICH-NVW-PT-17.11.2020-02-02.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
}

.maps {
    background-image: url('../images/Ban-Do-NVWPT-2303.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

// 
.sliders {
    box-sizing: border-box;
    padding: 2em 2em;
    background-image: linear-gradient(top, #FBFCDE, #FCFCFD);

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            h3 {
                font-size: 2.2em;
                color: #A12443;
            }

            span {
                border: 1px solid #A12443;
                display: block;
                height: 5em;
                width: 1px;
                background-color: #A12443;
            }

            p {
                padding-top: 0.5em;
                line-height: 1.8em
            }
        }
    }
}

.singin {
    padding: 3rem 0 7rem 0;
    background-image: url('../images/banner4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .forms {

        h2 {
            text-align: center;
            color: #cdae87;
        }
    }

    .form-form {

        padding: 3em;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .form-groups {
        padding-top: 1em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        position: relative;

        div {
            label {
                display: block;
            }

            input {
                width: 100%;
                padding: 0.5em 0 0.5em 0.2em;
                border: none;

                &:focus {
                    outline: none;
                }
            }

        }
    }

    .btnsubmit {
        margin-top: 2em;
        text-align: center;

        button {
            display: inline-block;
            padding: 0.6em 2em;
            background-color: #A12443;
            border-radius: 0.5em;
            color: #fff;
            border: none;

            &:hover {
                text-decoration: none;
                opacity: 0.8;
            }
        }
    }
}

.footer {
    padding: 5em 0;
    background-color: #001F3E;
    color: #fff;

    .link {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                padding-right: 2em;

                a {
                    font-size: 2em;
                }
            }
        }
    }

    .forms {
        margin-top: 2em;

        h2 {
            text-align: center;
            color: #faeb9c;
            font-weight: 200;
        }

        .form-groups {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1em;
            position: relative;
            padding-top: 1em;
            color: #faeb9c;

            label {
                display: block;
            }

            input {
                width: 100%;
                padding: 0.5em 0 0.5em 0.2em;
                border: none;
                background-color: #012D59;
                color: #fff;

                &:focus {
                    outline: none;
                }

            }
        }

        .btnsubmit {
            margin-top: 2em;
            text-align: center;

            button {
                display: inline-block;
                padding: 0.6em 2em;
                background-color: #A12443;
                border-radius: 0.5em;
                color: #fff;
                border: none;

                &:hover {
                    text-decoration: none;
                    opacity: 0.8;
                }
            }
        }
    }
}

#singform {
    position: fixed;
    right: 2%;
    top: 50%;
    padding: 2em 1.8em;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    transition: all linear 0.3s;
    animation: text-flicker 3s linear infinite;
    font-weight: 600;

    &:hover {
        text-decoration: none;
        transform: scale(1.1);
        transition: all linear 0.3s;
    }

    @keyframes text-flicker {
        0% {
            opacity: 0.1;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
        }

        2% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
        }

        8% {
            opacity: 0.1;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
        }

        9% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
        }

        12% {
            opacity: 0.1;
            text-shadow: 0px 0px rgba(242, 22, 22, 1);
        }

        20% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
        }

        25% {
            opacity: 0.3;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
        }

        30% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
        }

        70% {
            opacity: 0.7;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
        }

        72% {
            opacity: 0.2;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
        }

        77% {
            opacity: .9;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
        }

        100% {
            opacity: .9;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
        }
    }

    @keyframes border-flicker {
        0% {
            opacity: 0.1;
            -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
            -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
            box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
        }

        2% {
            opacity: 1;
            -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
            -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
            box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
        }

        4% {
            opacity: 0.1;
            -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
            -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
            box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
        }

        8% {
            opacity: 1;
            -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
            -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
            box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
        }

        70% {
            opacity: 0.7;
            -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
            -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
            box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
        }

        100% {
            opacity: 1;
            -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
            -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
            box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
        }
    }

    @keyframes letter-flicker {
        0% {
            opacity: 0.1;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
        }

        2% {
            opacity: 0.1;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
        }

        4% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
        }


        19% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
        }

        21% {
            opacity: 0.1;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
        }

        23% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
        }

        80% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
        }

        83% {
            opacity: 0.4;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
        }

        87% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
        }
    }
}